<header>

  <nav class="navbar navbar-expand-sm navbar-light bg-light">

    <a class="navbar-brand" routerLink="/">Управление записью</a>

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Переключить навигацию"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarContent">

      <ul class="navbar-nav mr-auto">

        <ng-container *ngIf="loginService.user.isLoggedIn">

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="recordings">График записи</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="schedule">Режим работы</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="activities">Виды деятельности</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="customers">Клиенты</a>
          </li>

        </ng-container>

      </ul>

      <a class="username">{{ loginService.user.name }}</a>

      <a (click)="loginService.loginPage()"
         *ngIf="!loginService.user.isLoggedIn">
        <i class="fas fa-sign-in-alt"></i>
        Вход
      </a>

      <a (click)="loginService.logout()"
         *ngIf="loginService.user.isLoggedIn">
        <i class="fas fa-sign-in-alt"></i>
        Выход
      </a>

    </div>
  </nav>

</header>

<main>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>

<app-loading></app-loading>

<ng-snotify></ng-snotify>

